body {
  width: 100%;
  height: 100%;
  margin: 0;
  }

h1{
  color: red;
  text-align: center;
  font-size: xx-large;
  }
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-nav{
  display: inline;
  display: block;
  text-align: center;
}
.top-nav a{
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
}

#pg{
  width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

#featured-property p{
  width: 800px;
  text-align: center;
}
#caption{
  font-size: smaller;
  text-align: center;
}
div{
  float: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
#details{
  display: flex;
  justify-content: center;
  background: darkorange;
  margin-bottom: 25px;
}
